div.black_wrap {
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color: rgba(0,0,0,0.6);
	z-index:5;
}

div.black_wrap .loader {
	position:absolute;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 70px;
	height:70px;
	animation: spin 2s linear infinite;
	left: calc(50% - 70px);
	top: calc(50% - 70px);
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}