
/* Specialization*/

body {
  color:#9c9c9c;
  padding:0 10vw;
  margin:0;
  background-color:#eeeeee;
  font-size:11px;
}

h6, h3 {
  color:#2d2d2d;
}

button {
  width:49%;
  padding: 10px 0;
  color: #b32939;
  background-color: rgba(0,0,0,0);
  border: 1px solid #c5c5c5;
  font-size:14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color, 0.5s;
}

button:hover {
  background-color: red;
}

span {
  text-transform: uppercase;
  font-size:14px;
}

img {
  width:100%;
  display:block;
}

/* List of products */

.products {
  padding: 50px 0;
  background-color: white;
  justify-content: center;
}

/* Single product */

.product {
  max-width: 300px;
  border: 1px solid #c5c5c5;
  padding:8px;
  flex-grow: 0;
  margin: 0 0 40px 0;
}

.image_wrap {
  position: relative;
  width:100%;
  margin: 0 auto 15px;
}

.image_wrap img {
  margin-top: -22px;
}

.image_wrap span {
  position: absolute;
  top:42%;
  padding:14px 20px;
  color: white;
}

.new {
  right: 0;
  background-color: black;
}

.sale {
  left: 0;
  background-color: red;
}

.description__title {
  margin-bottom:15px;
}

.price, .old_price {
  margin-bottom:20px;
  font-size:21px;
  font-weight: 600;
  color:black;
}

.old_price {
  font-size:18px;
  color:red;
  text-decoration: line-through;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

button.view {
  background-color:#d9d9d9;
  color:#a2a2a2;
}

button.add_to_card {
  margin-left:1px;
}

/* Button more */
.more {
  max-width:150px;
}

/* Footer */

footer {
  background-color: white;
  padding-bottom:50px;
}

.hot_offers, .store_information {
  padding: 30px 10px 20px;
  border: 1px solid #c5c5c5;
  height:100%;
}

i::before {
  font-size:30px;
  color:red;
}

.fa-li {
  top: -0.4em !important;
}

.store_information ul li{
  padding-left:10px;
  margin-bottom:18px;
}

.fa-envelope::before {
  font-size: 27px;
}
@media only screen and (max-width:992px) {

  .information .col-md-12 {
    margin-bottom:10px;
  }
}